---
collectors:
  enabled:
    #- Arrakis\Exphporter\Collector\BorgRepository
    #- Arrakis\Exphporter\Collector\CommandLineCount
    #- Arrakis\Exphporter\Collector\DiskUsage
    #- Arrakis\Exphporter\Collector\FindCount
    #- Arrakis\Exphporter\Collector\FindCountByDate
    #- Arrakis\Exphporter\Collector\Livebox
    - Arrakis\Exphporter\Collector\OsRelease
    #- Arrakis\Exphporter\Collector\Packages
    #- Arrakis\Exphporter\Collector\RaspberryPiHealth
    #- Arrakis\Exphporter\Collector\V4l2ctl
  
  configuration:
    Arrakis\Exphporter\Collector\CommandLineCount:
      commands:
        - name: 'Processes count'
          command: 'ps aux'

    Arrakis\Exphporter\Collector\DiskUsage:
      paths:
        - path: /var/log
          one_fs: true
          ignore_errors: true
        - path: /tmp
          one_fs: true
          ignore_errors: true
    
    Arrakis\Exphporter\Collector\FindCount:
      paths:
        - name: '*.jar in /tmp'
          path: /tmp
          opts:
            '-name': '*.jar'
        - name: '*CHROMIUM* in /tmp'
          path: /tmp
          opts:
            '-iname': '*CHROMIUM*'

    Arrakis\Exphporter\Collector\FindCountByDate:
      paths:
        - name: '*-*-*-*-*.jpg in /var/motion'
          path: /var/motion
          opts:
            '-name': '*-*-*-*-*.jpg'
          # Available values for group_by: see https://www.php.net/manual/dateinterval.construct.php
          # Example below means "every 10 minutes"
          group_by: PT10M
          use_stat: mtime
          current_only: false

    Arrakis\Exphporter\Collector\Livebox:
      sysbus_path: /opt/rene-d-sysbus/src/sysbus/sysbus.py
      sysbus_settings:
        password_livebox: MySecretPassword
        version_livebox: lb4
    
    Arrakis\Exphporter\Collector\RaspberryPiHealth:
      vcgencmd_path: /opt/vc/bin/vcgencmd
      # See https://www.raspberrypi.org/documentation/raspbian/applications/vcgencmd.md
      metrics:
        - throttled: true
        - temp: true
        - clock: [arm, core, H264, isp, v3d, uart, pwm, emmc, pixel, vec, hdmi, dpi]
        - volts: [core, sdram_c, sdram_i, sdram_p]
    
    Arrakis\Exphporter\Collector\V4l2ctl:
      devices:
        - path: /dev/video0