---
collectors:
  # Uncomment and configure collectors as needed
  enabled:
    #- Arrakis\Exphporter\Collector\BorgRepository
    #- Arrakis\Exphporter\Collector\CommandLineCount
    #- Arrakis\Exphporter\Collector\DiskUsage
    #- Arrakis\Exphporter\Collector\FindCount
    #- Arrakis\Exphporter\Collector\FindCountByDate
    #- Arrakis\Exphporter\Collector\Livebox
    - Arrakis\Exphporter\Collector\OsRelease
    #- Arrakis\Exphporter\Collector\Packages
    #- Arrakis\Exphporter\Collector\RaspberryPiHealth
    #- Arrakis\Exphporter\Collector\SpeedtestCli
    #- Arrakis\Exphporter\Collector\Usbtenkiget
    #- Arrakis\Exphporter\Collector\V4l2ctl

  configuration:
    # See https://borgbackup.readthedocs.io/
    Arrakis\Exphporter\Collector\BorgRepository:
      repositories:
        - name: my-documents
          path: /var/lib/borg-backup/repositories/documents
          passphrase_file: /root/.borg-backup-passphrase
        - name: my-music
          path: /var/lib/borg-backup/repositories/music
          passphrase_file: /root/.borg-backup-passphrase

    Arrakis\Exphporter\Collector\CommandLineCount:
      commands:
        - name: 'Processes count'
          command: 'ps aux'

    Arrakis\Exphporter\Collector\DiskUsage:
      scrape_freq: 600
      paths:
        - path: /var/log
          one_fs: true
          ignore_errors: true
        - path: /tmp
          one_fs: true
          ignore_errors: true
          scrape_freq: 1800

    Arrakis\Exphporter\Collector\FindCount:
      paths:
        - name: '*.jar in /tmp'
          path: /tmp
          opts:
            '-name': '*.jar'
        - name: '*CHROMIUM* in /tmp'
          path: /tmp
          opts:
            '-iname': '*CHROMIUM*'

    Arrakis\Exphporter\Collector\FindCountByDate:
      paths:
        - name: '*-*-*-*-*.jpg in /var/motion'
          path: /var/motion
          opts:
            '-name': '*-*-*-*-*.jpg'
          # Available values for group_by: see https://www.php.net/manual/dateinterval.construct.php
          # Example below means "every 10 minutes"
          group_by: PT10M
          use_stat: mtime
          current_only: false

    Arrakis\Exphporter\Collector\Livebox:
      # You need to install sysbus first. See https://github.com/rene-d/sysbus
      sysbus_path: /opt/rene-d-sysbus/src/sysbus/sysbus.py
      sysbus_settings:
        password_livebox: MySecretPassword
        version_livebox: lb4

    Arrakis\Exphporter\Collector\RaspberryPiHealth:
      vcgencmd_path: /opt/vc/bin/vcgencmd
      # See https://www.raspberrypi.org/documentation/raspbian/applications/vcgencmd.md
      metrics:
        throttled: true
        temp: true
        clock: [arm, core, h264, isp, v3d, uart, pwm, emmc, pixel, vec, hdmi, dpi]
        volts: [core, sdram_c, sdram_i, sdram_p]

    Arrakis\Exphporter\Collector\SpeedtestCli:
      # NOTICE: You have to run speedtest manually once to accept the EULA and privacy notice!
      speedtest_path: # Leave empty for auto-detection in PATH
      scrape_freq: 3600
      force_accept_gdpr: true
    
    Arrakis\Exphporter\Collector\Usbtenkiget:
        #usbtenkiget_path: ...
        # Check "usbtenkiget -h" output for more info about units
        units:
          temperature: default
          pressure: default
          frequency: default
          length: default
        sensors:
          - usb_serial: auto
            name: some sensor
            channels: [0]

    Arrakis\Exphporter\Collector\V4l2ctl:
      devices:
        - path: /dev/video0
