---
collectors:
  enabled:
    #- Arrakis\Exphporter\Collector\DiskUsage
    #- Arrakis\Exphporter\Collector\FindCount
    #- Arrakis\Exphporter\Collector\FindCountByDate
    #- Arrakis\Exphporter\Collector\Livebox
    - Arrakis\Exphporter\Collector\OsRelease
    #- Arrakis\Exphporter\Collector\Packages
    #- Arrakis\Exphporter\Collector\V4l2ctl
  
  configuration:
    Arrakis\Exphporter\Collector\DiskUsage:
      paths:
        - path: /var/log
          one_fs: true
          ignore_errors: true
        - path: /tmp
          one_fs: true
          ignore_errors: true
    
    Arrakis\Exphporter\Collector\FindCount:
      paths:
        - name: '*.jar in /tmp'
          path: /tmp
          opts:
            '-name': '*.jar'
        - name: '*CHROMIUM* in /tmp'
          path: /tmp
          opts:
            '-iname': '*CHROMIUM*'

    Arrakis\Exphporter\Collector\FindCountByDate:
      paths:
        - name: '*-*-*-*-*.jpg in /var/motion'
          path: /var/motion
          opts:
            '-name': '*-*-*-*-*.jpg'
          # Available values for group_by: see https://www.php.net/manual/dateinterval.construct.php
          # Example below means "every 10 minutes"
          group_by: PT10M
          use_stat: mtime

    Arrakis\Exphporter\Collector\Livebox:
      sysbus_path: /opt/rene-d-sysbus/src/sysbus/sysbus.py
      sysbus_settings:
        password_livebox: MySecretPassword
        version_livebox: lb4
    
    Arrakis\Exphporter\Collector\V4l2ctl:
      devices:
        - path: /dev/video0